@model React.Sample.Mvc4.Models.CommentModel


@if (Model != null)
    @using (Html.BeginForm("AddComment", "Home"))
    { 
        <fieldset>
            <legend>CommentModel</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
        
            @Html.EditorFor(model => model.Author)
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
}